<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doublepower</title>
</head>
<body>
    <h1>Doublepower</h1>
    <form method="POST" action="{% url 'doublepower:view_team' team.id %}">
        {% csrf_token %}
        {{ player_form }}
        <input type="submit" name="action" value="Submit">
    </form>
    <table id="id_player_table">
        {% for player in team.player_set.all %}
        <tr>
            <td>{{ player.rank }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.forehand_strength }}</td>
            <td>{{ player.backhand_strength }}</td>
            <td>
                <form method="POST" action="{% url 'doublepower:player_up' team.id player.id %}">
                    {% csrf_token %}
                    <input type="submit" name="action" value="Up">
                </form>
            </td>
            <td>
                <form method="POST" action="{% url 'doublepower:player_down' team.id player.id %}">
                    {% csrf_token %}
                    <input type="submit" name="action" value="Down">
                </form>
            </td>
            <td>
                <form method="POST" action="{% url 'doublepower:player_delete' team.id player.id %}">
                    {% csrf_token %}
                    <input type="submit" name="action" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>